- model_class = Channel.new.class

.well
  %h1
    = t('.title', default: model_class.model_name.human)

    = link_to(new_channel_path, {class: 'btn btn-small', data: {container: 'body'}, rel: 'tooltip', title: t('channels.new')}) do
      %i.icon.icon-plus-sign

  .empty-screen
    %i.icon.icon-home.empty-screen-illustration
    %div
      - if channels.length == 0
        =t 'channels.empty_screen'
      - else
        =t 'channels.choose_one'
