- model_class = Channel.new.class

.well
  %h1
    %i.icon.icon-home
    = t('.title', default: model_class.model_name.human.pluralize)

    = render partial: 'shared/new', locals: {url: new_channel_path, tip: 'channels.new'}

  .empty-screen
    = render partial: 'shared/empty_screen_blink'

    %i.icon.icon-home.empty-screen-illustration
    %div
      - if channels.length == 0
        =t 'channels.empty_screen'
      - else
        =t 'channels.choose_one'
