/.bundle
/db/*.sqlite3
/log/*.log
/tmp
/Gemfile.lock
/config/database.yml
/public/assets/
/public/ckeditor_assets/
/public/system/users/
/config/initializers/secret_token.rb
/config/initializers/setup_mail.rb
