/*
 *  Macros
 */

  @mixin border_radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }

  @mixin box_shadow($params) {
    box-shadow: $params;
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
  }

  @mixin gradient($from, $to) {
    background-color: $from;
    background-image: -moz-linear-gradient($from, $to);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
    background-image: -webkit-linear-gradient($from, $to);
    background-image: -o-linear-gradient($from, $to);
  }

  @mixin placeholder_text($color) {
     &:-moz-placeholder            { color: $color; } // Firefox 4-18
     &::-moz-placeholder           { color: $color; } // Firefox 19+
     &:-ms-input-placeholder       { color: $color; } // Internet Explorer 10+
     &::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
  }

  @mixin opacity($val){
    filter: alpha(opacity= $val* 100);
    -moz-opacity: $val;
    opacity: $val;
  }

  @mixin grey_gradient() {
    @include gradient($light_grey, $mid_grey);
  }

  @mixin highlight() {
    @include gradient($highlight_background_start, $highlight_background_end);
    border-top: 1px solid $highlight_border_top_color;
  }

  @mixin center() {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
