/*
 *  Variables
 */

  $back_start: #fff;
  $back_end: #f0f0f0;
  $link: #08c;
  $link_hover: #005580;
  $error_red: #b94a48;
  $box_shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  $light_grey: #f1f1f1;
  $dark_grey: #222;
  $muted_grey: #666;