/*
 *  Variables
 */

  $background_color: #767d8c;
  $well_background: #fafafa;
  $sidebar_background: #dadfe7;

  $highlight_background_start: #b1bed7;
  $highlight_background_end: #8599b7;
  $highlight_border_top_color: #a2b1cb;

  $link: #4183c4;
  $link_hover: #26a;

  $error_red: #b94a48;

  $box_shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

  $light_grey: #f1f1f1;
  $mid_grey: #b8b8b8;
  $grey: #444;
  $dark_grey: #222;
  $muted_grey: #666;
  $border_grey: #999;
