%div
  %a{ :href => "javascript:void(0)", :"id" => "mai-link-#{article.id}", :"data-id" => "#{article.id}", :"data-is-important" => "#{article.is_important?}"}
    = get_is_important_text article.is_important?
