ActionMailer::Base.smtp_settings = {
  :address              => "localhost",
  :port                 => 25,
  :domain               => "localhost",
  :user_name            => "root",
  :password             => "root",
  :authentication       => "plain",
  :enable_starttls_auto => false,
  :tls 					=> false
}

ActionMailer::Base.default_url_options[:host] = "localhost:3000"
