<% unless @invitation_text.blank? %>
    <p><%= @invitation_text %></p>
<% end %>

<%= t('relationships.mail.invitation.content', user: @current_user.name, link:
  "http://subwire.net") %>

<%= t('relationships.mail.invitation.activate_link_text') %>
<%= confirmation_url(@user, confirmation_token: @user.confirmation_token) %>