<footer>
  Powered by subwire 3.1.0 (Northstar) |
  A product of <a href="http://yaana.de" target="_blank">YaanaLabs</a>

  <% if background %>
      | <%=t 'application.background_by' %>
      <a href="<%= background[:link] %>" target="_blank"><%= background[:artist] %></a>
  <% end %>

  <br /> &nbsp;
</footer>
