<footer>
	Powered by subwire 3.0.1 (Thor) |
	Product of <a href="http://yaana.de" target="_blank">YaanaLabs</a> |
	<a href="http://www.subwire.net/impress" target="_blank">Imprint</a>
	<br /> &nbsp;
</footer>
