%footer
  Powered by
  %a{href: "https://github.com/YaanaLabs/subwire", target: "_blank"}
    subwire

  3.1.0 (Northstar) | A product of

  %a{:href => "http://yaana.de", :target => "_blank"} YaanaLabs

  - if defined? background
    | #{t('application.background_by')}
    %a{:href => background[:link], :target => "_blank"}= background[:artist]