%ul.users.nav.nav-list
  - sidebar_users.each do |user|
    %li
      = avatar(user, :list)
      = link_to user_path(user) do
        %i.icon.icon-asterisk{:style => "color: #{user.login_status(current_user.name)}"}
        = user.name
