<div class="logged_in">
	<h3>
		<%=t "application.welcome_back" %>, <%= current_user.name %>!
	</h3>

	<a href="http://hub1.subwire.net" class="btn btn-large btn-success" target="_blank">
		<%=t ('application.go_to_overview') %>
	</a>
</div>