.logged_in
  %h3
    = t("application.welcome_back")
    , #{current_user.name}!
  %a.btn.btn-large.btn-success{:href => "http://hub1.subwire.net", :target => "_top"}
    = t('application.go_to_overview')
