%form.login-form-integrated{"accept-charset" => "UTF-8", action: user_session_path, method: "post", target: "_parent"}
  %input{name: "utf8", type: "hidden", value: "true"}/

  .pull-left.span2
    %input#user_email.text_field.span2{name: "user[email]", placeholder: t("helpers.email"), size: "25", type: "text", value: ""}/

  .pull-right.span2
    %input#user_password.text_field.span2{name: "user[password]", placeholder: t("helpers.password"), size: "25", type: "password"}/

  .pull-left.span2
    %button.btn.btn-success.span2{name: "commit", type: "submit"}
      %i.icon.icon-off
      = t "helpers.sign_in"

  .pull-right.span2
    %input#remember-me-input{name: "user[remember_me]", type: "hidden", value: "0"}

  %a#remember-me.btn.btn-inverse{href: "#", "data-toggle" => "button"}
    %i.icon-lock.icon-white
    = t "devise.remember_me"

  :javascript
    $(function() {
      $("a#remember-me").click(function(event, a) {
        var target = $(event.currentTarget);
        var active = target.hasClass('active');
        var i = target.children("i");

        $('input#remember-me-input').val(active ? 0 : 1);

        if (active) {
            i.removeClass("icon-ok").addClass("icon-lock");
            target.removeClass('active');
        } else {
            i.removeClass("icon-lock").addClass("icon-ok");
            target.addClass('active');
        }

        event.preventDefault();
        return false;
      });
    });