.well
  %h1
    = t('wiki.headline')
    = link_to new_channel_wiki_path(@current_channel), {class: 'btn btn-small'} do
      %i.icon.icon-plus-sign

  %ul#wikiTabs.nav.nav-tabs
    %li.active
      %a{href: "#home"}= t('wiki.tabs.home')
    %li
      %a{href: "#pages"}= t('wiki.tabs.pages')

  .tab-content
    #home.tab-pane.active
      TODO: page content

    #pages.tab-pane
      %ul
        - @pages.each do |page|
          %li
            link_to page.title, page
            .pull_right
              link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' }

  :javascript
    $(function () {
      $('#wikiTabs a:first').tab('show');

      $('#wikiTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });
    })