<p><%= t('notifications.mailer.hello', :user => @toUser.name) %></p>

<p><%= t('notifications.mailer.body', :notification =>  t('notifications.mailer.' + @notification.notification_type), :user => @fromUser.name, :topic => @notification.subject) %></p>

<p><%= link_to t('notifications.mailer.read_now'), notification_path(@notification) %></p>


