- if can?(:admin, :all)
  %li.dropdown.iconOnly
    %a.dropdown-toggle{"data-placement" => "bottom", "data-toggle" => "dropdown", :href => "#", :rel => "tooltip", :title => "Admin"}
      %i.icon.icon-fire
    %ul.admin-dropdown.dropdown-menu
      %li
        = link_to users_path do
          %i.icon.icon-user
          = t('application.all_users')
      %li
        = link_to channels_path do
          %i.icon.icon-list-alt
          = t('application.all_channels')
