  <div class="well">
    <h3>
      <i class="icon icon-home"></i>
      Channels
    </h3>

    <ul class="channels nav nav-list">
      <% channels.each do |channel| %>
        <% active = channel == @current_channel %>
        <% notificationCount = channel.notification_count(current_user) %>

        <li>
          <%= link_to channel_path(channel), {class: (active ? "active" : "")} do %>
            <% if notificationCount > 0 %>
              <span class="notification-badge badge badge-info">
                <%= notificationCount %>
              </span>

              &nbsp;
            <% end %>

            <%= channel.name %>

            <% if active %>
              <i class="icon icon-chevron-right pull-right"> </i>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
