  <div class="well">
    <h3>
      <i class="icon icon-home"></i>
      Channels
    </h3>

    <ul class="channels nav nav-list">
      <% channels.each do |channel| %>
        <li>
          <%= link_to channel_path(channel), {
            class: (channel == current_channel ? "active" : "")} do
          %>
            <%= channel.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
