%li#notifications.iconOnly
  %a{href: "#", :onclick => "return false;"}
    %i.icon.icon-comment
    - if @unread_notification_count > 0
      %span.notification-badge.badge.badge-important
        = @unread_notification_count