/**
 *	general
 */

	body {
		background: white url('back.png') repeat fixed 0 0;
		padding-top: 60px;
	}

	body.login {
		background: #ddd none;
	}

	h1 {
		margin-bottom: 1em;
	}

	a:hover {
		text-decoration: none;
	}

	.article h2 {
		font-size: 1.5em;
	}

	.btn-danger {
		color: #fff !important;
	}



/**
 *	Nav
 */

 	.dropdown-menu {
 		padding: 0.5em;
 	}

 	.table thead th {
 		text-align: center;
 	}

 	thead th.weekend {
 		background-color: whiteSmoke;
 	}

 	td.green,
 	td.yellow,
 	td.red {
 		text-align: center;
 	}

 	td.green,
 	table.table-striped tr:nth-child(odd) td.green {
 		background-color: #D1F3D1;
 		color: #34A634;
 	}

 	td.green a,
 	td.green a:hover {
 		color: #34A634;
 	}

 	.table tbody tr:hover td.green {
 		background-color: #BFE1BF;
 	}

 	td.yellow,
 	table.table-striped tr:nth-child(odd) td.yellow {
 		background-color: #ffffcc;
 		color: #ffcc00;
 	}

 	td.yellow a,
 	td.yellow a:hover {
 		color: #ffcc00;
 	}

 	.table tbody tr:hover td.yellow {
 		background-color: #EEEEB3;
 	}

 	td.red,
 	table.table-striped tr:nth-child(odd) td.red {
 		background-color: #ffccca;
 		color: #a63333;
 	}

 	td.red a,
 	td.red a:hover {
 		color: #a63333;
 	}

 	.table tbody tr:hover td.red {
 		background-color: #EAB8B6;
 	}



/**
 *	Articles
 */

	.article h2 a {
		color: #000;
	}

	.article h2 a:hover {
		background-color: transparent;
		text-decoration: none;
	}

	.article nobr {
		display: block;
		font-size: 0.8em;
		color: #999;
		margin: -5px 0 1em;
	}

	.article .buttons {
		visibility: hidden;
		float: right;
		margin-bottom: 1em;
	}

	.article:hover .buttons {
		visibility: visible;
	}



/**
 *	Comments
 */

	.comments {
		clear: both;
		border-top: 1px solid #999;
		padding-top: 4px;
	}

	.comments h1 {
		font-size: 1em;
		font-weight: normal;
	}

	.comments input {
		margin: 0;
	}

	.comments table {
		width: 100%;
	}

	.comments td {
		text-align: left;
		padding: 2px 10px 2px 0;
		vertical-align: top;
	}

	.comments th {
		text-align: right;
		width: 1px;
		padding: 2px 4px 2px 10px;
		vertical-align: top;
	}

	.comments tr:hover {
		background-color: #eee;
	}

	.comments .commentContainer {
		padding: 1em;
	}

	.comments .commentButtons {
		visibility: hidden;
		float: right;
		display: inline;
		margin-left: 5px;
	}

	.comments tr:hover .commentButtons {
		visibility: visible;
	}

	.commentList {
		margin-top: 2em;
	}

	.commentList h5 {
		margin-bottom: 1em;
	}



/**
 *	Sidebar
 */

	div.sidebar {
		margin-top: 66px;
	}

	ul.bookmarks {
		list-style-type: none;
		margin: 0;
	}



/**
 *	Login form
 */

 	body.login .navbar .container {
 		text-align: center;
 	}

 	body.login .navbar .container a {
 		float: none;
 	}

	.login-form {
		width: 220px;
	}

	.login-form {
 		box-shadow: 2px 2px 8px rgba(0, 0, 0, .25);
		-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, .25);
		-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, .25);
		background-color: #fff;
		padding: 20px;
		margin: 100px auto;
		-webkit-border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		border-radius: 10px 10px 10px 10px;
	}

	.login-form form {
		margin: 0;
	}

	.login-form form input.btn {
		margin-top: 1.5em;
	}



/**
 *	Footer
 */

 	footer {
 		text-align: center;
 		color: #666;
 		margin-left: -30px;
 	}

 	footer a {
 		color: #666;
 	}