/*
 *   Popovers
 */

  #new-message-html,
  #planning-tool-html,
  #notifications-html {
    display: none;
  }

  li#notifications,
  li#new-message,
  li#planning-tool {
    + div.popover div.popover-content {
      padding: 0;
    }
  }

  div.popover {
    @include box_shadow(0 3px 25px rgba(0, 0, 0, 0.8));
  }



/*
 *  Notifications
 */

  span.notification-margin {
    margin-right:10px;
  }

  .no-unread-notifications {
    height: 3em;
    padding-top: 1em;
    text-align: center;
    color: $border_grey;
  }

  li#notifications {
    + div.popover {
      width: 400px;
      max-width: 400px;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          &.read {
            opacity: 0.6;
          }

          a {
            display: block;
            padding: 8px;
            clear: both;
            min-height: 50px;
            height: auto;
            border-bottom: 1px solid $mid_grey;
            line-height: 17px;
            font-size: 13px;

            &:hover {
              background-color: $well_background;
              color: black;
            }

            img {
              float: left;
              margin-right: 1em;
            }

            &#read-all {
              padding: 6px;
              height: auto;
              min-height: 0;
              border-bottom: none;
              color: $border_grey;
              font-size: 12px;
              float: right;
              background-color: transparent;

              &:hover {
                color: $grey;
              }
            }

            .date {
              display: block;
              color: $border_grey;
              font-size: 11px;
            }
          }
        }
      }
    }
  }



/*
 *  Quick message
 */

  li#new-message {
    + div.popover {
      width: 400px;
      max-width: 400px;

      form {
        margin: 0;
      }

      textarea {
        width: 383px;
        resize: none;
        padding: 9px 14px;
        border: 0;
        background: transparent;
        box-shadow: none;
        overflow: hidden;
      }

      div.buttons {
        padding: 0 14px 9px 14px;
      }
    }
  }



/*
 *  Planning tool
 */

  li#planning-tool {
    + div.popover {
      width: 540px;
      max-width: 540px;

      div.popover-content {
        table {
          border: none;
          margin-bottom: 0;
          @include border-radius(0);

          th {
            font-size: 13px;
            font-weight: normal;
          }

          td,
          th {
            height: 26px;
            vertical-align: middle;
            @include border-radius(0);
          }

          th:first-child,
          td:first-child {
            border-left: 0;
          }
        }
      }
    }
  }



/*
 *  Nav
 */

  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: fixed;
  }

  .navbar-inner {
    @include grey_gradient();
  }

  .navbar {
    @include box_shadow(0 0 6px #000);
    font-size: 14px;

    .nav {
      li.dropdown.open > .dropdown-toggle {
        background: transparent none;
        color: #000;
      }

      li > a {
        color: $grey;

        &.brand {
          font-size: 28px;
          padding-left: 36px;
          padding-right: 0;
          font-family: "Yanone Kaffeesatz";
        }
      }

      ul li a:hover {
        color: #fff;
      }
    }

    .search-query {
      width: 140px;
      margin-right: 13px;

      &:focus {
        width: 200px;
      }
    }

    li.iconOnly {
      font-size: 1.6em;

      li {
        font-size: 14px;
      }

      > a {
        position: relative;
        padding: 10px 0.4em 8px 0.4em;

        span.badge {
          position: absolute;
          left: 27px;
          text-shadow: none;
          top: 6px;
          padding: 0px 4px 0px;
          font-size: 9px;
          line-height: 14px;
        }
      }
    }
  }

  li.planner a.dropdown-toggle span.badge {
    top: 7px;
    left: 20px;
  }

  ul.channels-dropdown a.active {
    font-weight: bold;
  }

  thead th.weekend {
    background-color: whiteSmoke;
  }

  ul.availabilitites th {
    white-space: nowrap;
    vertical-align: middle;
  }

  td.green,
  td.yellow,
  td.red {
    text-align: center;
  }

  td.green,
  table.table-striped tr:nth-child(odd) td.green {
    background-color: #D1F3D1;
    color: #34A634;
  }

  td.green a,
  td.green a:hover {
    color: #34A634;
  }

  .table tbody tr:hover td.green {
    background-color: #BFE1BF;
  }

  td.yellow,
  table.table-striped tr:nth-child(odd) td.yellow {
    background-color: #ffffcc;
     color: #ffcc00;
  }

  td.yellow a,
  td.yellow a:hover {
    color: #ffcc00;
  }

  .table tbody tr:hover td.yellow {
    background-color: #EEEEB3;
  }

  td.red,
  table.table-striped tr:nth-child(odd) td.red {
    background-color: #ffccca;
    color: #a63333;
  }

  td.red a,
  td.red a:hover {
    color: #a63333;
  }

  .table tbody tr:hover td.red {
    background-color: #EAB8B6;
  }

  ul.nav.logout {
    position: absolute;
    right: 0;
    left: auto;
  }

  .notification-dropdown {
    padding: 0.5em;

    img {
      float: left;
      margin: 3px 8px 0 -9px;
    }

    li.read {
      opacity: 0.5;
    }

    a {
      clear: both;
      color: $dark_grey;
      display: block;
      font-weight: normal;
      line-height: 20px;
      margin-right: 20px;
      padding: 3px 20px;
      white-space: nowrap;
    }
  }

  .availabilitites div.dropdown-menu {
    font-size: 0.9em;
  }

  .navbar img.current-user {
    margin: -9px 8px -6px 0;
    width: 26px;
    height: 26px;
  }

  .nav > li > a {
    padding: 10px;
  }

  .navbar .divider-vertical {
    margin: 6px 4px;
    height: 30px;
    border-left: 1px solid $mid_grey;
    border-right: 1px solid $light_grey;
  }



/*
 *  Sidebar
 */

  div.sidebar {
    float: left;
    width: 250px;

    .well {
      padding: 0;
      background-color: $sidebar_background;

      h1 {
        margin: 0 0 10px;
      }

      ul.nav {
        margin: 0 0 10px;

        li {
          i.icon {
            margin-top: 6px;
          }

          a {
            padding: 2px 15px 4px;
            color: $dark_grey;
            border-top: 1px solid $sidebar_background;

            &:hover {
              color: #000;
              @include highlight();
            }
          }

          &.active {
            a {
              color: #000;
              background-color: transparent;
              text-shadow: none;
            }

            i.icon.pull-right {
              margin-top: 3px;
            }
          }

          &.sub-navi {
            .icon {
              margin-left: 15px;
            }

            &.active {
              a {
                color: 000;
                @include highlight();
              }

              .icon {
                color: #000;
              }
            }
          }

          &:hover .icon {
            color: #000;
          }
        }
      }
    }

    ul.bookmarks {
      list-style-type: none;
      margin: 0;

      li {
        word-wrap: break-word;
      }
    }

    ul.users .avatar {
      float: left;
      margin-right: 5px;
      margin-top: 8px;
    }
  }

  @media (max-width: 767px) {
    div.sidebar {
      width:auto;
    }
  }

  @media (max-width: 979px) {
    div.sidebar {
      position:static;
      width: auto;
    }
  }



/*
 *  Footer
 */

  footer {
    clear: both;
    padding: 0.6em 0;
    text-align: center;
    color: $dark_grey;
    margin-top: 2em;


    a {
      color: $dark_grey;

      &:hover {
        color: #000;
      }
    }

    ul {
      list-style-type: none;
      margin: 1em 0;

      li {
        display: inline;
        border-left: 1px solid $border_grey;
        padding-left: 5px;

        &:first-child {
          border-left: none;
        }
      }
    }
  }



/*
 *  Hints
 */

  ul.hint {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: justify;

    h3 {
      text-align: center;
      margin-bottom: 1em;
    }

    img {
      border: 1px solid $border_grey;
      margin-top: 1.5em;

      &.pull-right {
        margin-left: 1.5em;
        margin-top: 0;
      }
    }
  }


/*
 *  Messenger
 */

 ul.messenger.messenger-fixed.messenger-on-top {
   top: 60px !important;
 }


/*
 *  Bookmarks
 */

  .favicon {
    width: 16px;
    height: 16px;
    float: left;
    margin: 5px 5px 0 0;
  }