/*
 *	General
 */

	body {
		background-image: linear-gradient(bottom, #f8f8f8 35%, #eee 68%);
		background-image: -o-linear-gradient(bottom, #f8f8f8 35%, #eee 68%);
		background-image: -moz-linear-gradient(bottom, #f8f8f8 35%, #eee 68%);
		background-image: -webkit-linear-gradient(bottom, #f8f8f8 35%, #eee 68%);
		background-image: -ms-linear-gradient(bottom, #f8f8f8 35%, #eee 68%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.35, #f8f8f8),
			color-stop(0.68, #eee)
		);

		background-attachment: fixed;

		padding-top: 80px;
	}

	.well {
		background-color: #fff;
		min-height: 20px;
		padding: 19px;
		margin-bottom: 20px;
		border: 1px solid #ccc;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		box-shadow: 2px 2px 8px #ccc;
	}

	.big-icon {
		font-size: 5em;
		line-height: 1em;
		text-align: right;
	}

	body.login {
		background: #ddd none;
	}

	h1 {
		margin-bottom: 29px;
	}

	a:hover {
		text-decoration: none;
	}

	.btn-danger {
		color: #fff !important;
	}

	select {
		width: 250px;
	}

	.sidebar {
		margin-top: 5em;
	}

	div.container {
		position: relative;
	}

	.pagination {
		text-align: center;
	}

	.pagination ul {
		background-color: #fff;
	}



/**
 * 	Forms
 */

 	.field_with_errors .control-label {
 		color: #b94a48;
 	}

 	.field_with_errors input {
 		color: #B94A48;
		border-color: #B94A48;
 	}

 	.form-actions {
 		background-color: transparent;
 		padding-left: 0;
 		padding-right: 0;
 		border-top: 1px solid #aaa;
 	}

 	.well .form-actions {
 		padding: 0;
 		border-top: 0;
 	}

 	.well .form-actions.with-padding {
 		padding-left: 160px;
 	}

 	input.article-title {
 		width: 99%;
 	}


/**
 *	Nav
 */

 	.nav-collapse {
 		font-size: 1.1em;
 	}

 	.navbar .nav > li > a.brand {
 		padding-right: 0;
 		padding-left: 20px;
		color: #fff;
		font-size: 2em;
 	}

 	.iconOnly i {
 		font-size: 1.6em;
 	}

 	li.iconOnly > a.dropdown-toggle {
 		position: relative;
 		padding: 10px 0 8px 1.1em;
 	}

 	li.iconOnly.instanceChooserCaret a.dropdown-toggle {
 		padding-left: 6px;
 	}

 	a.dropdown-toggle span.badge {
 		position: absolute;
		left: 29px;
		text-shadow: none;
		top: 4px;
		padding: 0px 4px 0px;
		font-size: 9px;
		line-height: 14px;
	}

	li.planner a.dropdown-toggle span.badge {
		top: 7px;
		left: 20px;
	}

	ul.instances-dropdown a.active {
		font-weight: bold;
	}

 	.dropdown-menu {
 		padding: 0.5em;
 	}

 	thead th.weekend {
 		background-color: whiteSmoke;
 	}

 	td.green,
 	td.yellow,
 	td.red {
 		text-align: center;
 	}

 	td.green,
 	table.table-striped tr:nth-child(odd) td.green {
 		background-color: #D1F3D1;
 		color: #34A634;
 	}

 	td.green a,
 	td.green a:hover {
 		color: #34A634;
 	}

 	.table tbody tr:hover td.green {
 		background-color: #BFE1BF;
 	}

 	td.yellow,
 	table.table-striped tr:nth-child(odd) td.yellow {
 		background-color: #ffffcc;
 		color: #ffcc00;
 	}

 	td.yellow a,
 	td.yellow a:hover {
 		color: #ffcc00;
 	}

 	.table tbody tr:hover td.yellow {
 		background-color: #EEEEB3;
 	}

 	td.red,
 	table.table-striped tr:nth-child(odd) td.red {
 		background-color: #ffccca;
 		color: #a63333;
 	}

 	td.red a,
 	td.red a:hover {
 		color: #a63333;
 	}

 	.table tbody tr:hover td.red {
 		background-color: #EAB8B6;
 	}

 	ul.nav.logout {
 		position: absolute;
 		right: 0;
 		left: auto;
 	}

 	.notification-dropdown img {
 		float: left;
 		margin: 3px 8px 0 -9px;
 	}

 	.notification-dropdown li.read {
 		opacity: 0.5;
 	}

 	.availabilitites div.dropdown-menu {
 		font-size: 0.9em;
 	}



/**
 *	Articles
 */

 	table.article {
		background-color: #fff;
		border-top: 1px solid #ccc;
		border-right: 1px solid #ccc;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		box-shadow: 2px 2px 8px #ccc;
 	}

 	table.article td img.avatar {
		float: left;
		margin-right: 10px;
		margin-top: 4px;
 	}

 	table.article td,
 	table.article tr:hover td {
 		background-color: #fff;
 		padding: 10px;
 	}

 	table.article table th.avatar {
 		width: 50px;
 	}

	table.article h2 {
		font-size: 1.5em;
	}

	table.article h2 a {
		color: #000;
	}

	table.article h2 a:hover {
		background-color: transparent;
		text-decoration: none;
	}

	table.article nobr {
		display: block;
		font-size: 0.8em;
		color: #999;
		margin: -5px 0 0;
	}

	table.article nobr:after {
		content: ".";
		clear: both;
		display: block;
		height: 0;
		visibility: hidden;
	}

	table.article .buttons {
		visibility: hidden;
		float: right;
		margin-bottom: 1em;
	}

	table.article:hover .buttons {
		visibility: visible;
	}

	table.article .ad {
		width: 728px;
		margin: 0 auto;
	}



/**
 *	Comments
 */

	.comments h1 {
		font-size: 1em;
		font-weight: normal;
	}

	.comments input {
		margin: 0;
	}

	.comments table {
		width: 100%;
		border: 0;
	}

	table.article .comments table td,
	table.article .comments table tr:hover td {
		text-align: left;
		padding: 2px 10px 6px 0;
		vertical-align: top;
		background-color: transparent;
		border-left: 0;
		border-right: 0;
	}

	table.article .comments table th,
	table.article .comments table tr:hover th {
		text-align: right;
		width: 1px;
		padding: 2px 9px 6px 10px;
		vertical-align: top;
		width: 50px;
		background-color: transparent;
		border-left: 0;
		border-right: 0;
	}

	.comments table tr:hover {
		background-color: #eee;
	}

	.comments table .commentButtons {
		visibility: hidden;
		float: right;
		display: inline;
		margin-left: 5px;
	}

	.comments table tr:hover .commentButtons {
		visibility: visible;
	}

	.commentList {
		margin-top: 2em;
	}

	.commentList h5 {
		margin-bottom: 1em;
	}

	.comment table td .avatar {
		float: none;
		margin: 0;
	}


/*
 * Users
 */

 	td.avatarCell {
 		text-align: center;
 	}



/**
 *	Sidebar
 */

	ul.bookmarks {
		list-style-type: none;
		margin: 0;
	}

	ul.bookmarks li {
		word-wrap: break-word;
	}

 	ul.users .avatar {
 		float: left;
 		margin-right: 5px;
		margin-top: 4px;
 	}



/**
 *	Login form
 */

 	body.login .navbar .container {
 		text-align: center;
 	}

 	body.login .navbar .container a {
 		float: none;
 	}

 	body.login .row {
 		margin-left: 0;
 	}

	.login-form {
		width: 260px;
	}

	.login-form {
 		box-shadow: 2px 2px 8px rgba(0, 0, 0, .25);
		-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, .25);
		-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, .25);
		background-color: #fff;
		padding: 20px;
		margin: 100px auto;
		-webkit-border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		border-radius: 10px 10px 10px 10px;
	}

	.login-form form {
		margin: 0;
	}

	.login-form input.text_field {
		width: 250px;
	}

	.login-form form .btn {
		margin-top: 1.5em;
	}

	.login-form #remember-me i.icon-lock {
		margin-right: 4px;
	}

	.login-form .btn-group.pull-left {
		margin-right: 0.8em;
	}



/**
 *	Instance stuff
 */

 	div.instanceChooser h1 {
 		text-align: center;
 		margin-bottom: 0;
 	}

 	div.instanceChooser ul {
 		width: 100px;
 		margin: 1em auto 0;
 		font-size: 1.25em;
 	}

 	div.instanceChooser li {
 		line-height: 1.3em;
 	}

 	div.instanceChooser .buttons {
 		text-align: center;
 		margin-top: 2em;
 	}



/**
 *	Footer
 */

 	footer {
 		clear: both;
 		text-align: center;
 		color: #666;
 		padding: 0.6em 0;
 		border-top: 1px solid #ccc;
 		margin-top: 2em;
 	}

 	footer a {
 		color: #666;
 	}

 	footer ul {
 		list-style-type: none;
 		margin: 1em 0;
 	}

 	footer ul li {
 		display: inline;
 		border-left: 1px solid #999;
 		padding-left: 5px;
 	}

 	footer ul li:first-child {
 		border-left: none;
 	}

 	.popover_help {
 		float:right;
 		font-size:20pt;
 		margin-top:0.3em;
 	}