<p><%= t('relationships.mail.invitation.greet') %> <%= @resource.name %>!</p>

<p><%= t('relationships.mail.invitation.link_to_confirm_text') %></p>

<p><%= link_to t('relationships.mail.invitation.link_to_confirm'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
